body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   height: 100vh;
   margin: 0;
   background-image: url(./img/background/desert.png);
   font-family: 'PlaywriteESDeco', 'Arial', 'Helvetica';
   /* margin-top: 50px; */
}

@font-face {
   font-family: 'PlaywriteESDeco';
   src: url(./fonts/PlaywriteESDeco-VariableFont_wght.ttf) format('truetype');
}

canvas {
   background-color: black;
   border-radius: 10px;
   box-shadow: 12px 10px 5px black;
   display: block;
   width: 900px;
   height: 480px;
}

h1 {
   font-size: 64px;
   text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.info-bar {
   display: flex;
   gap: 50px;
   height: 120px;
   justify-content: center;
   align-items: center;
}

.sound-control {
   width: 50px;
   background-color: rgb(247, 194, 116);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   border: solid 1px black;
   box-shadow: 12px 10px 5px black;
   padding: 10px;
   cursor: pointer;
}

.info-bar-buttons {
   background-color: rgb(247, 194, 116);
   width: 167px;
   display: flex;
   justify-content: center;
   height: 50px;
   align-items: center;
   border-radius: 10px;
   font-size: 18px;
   font-weight: bold;
   border: solid 1px black;
   box-shadow: 12px 10px 5px black;
   cursor: pointer;
}

#startButton {
   animation: pulse 1s infinite;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   top: 35px;
   left: 0;
   right: 0;
}

.info-bar-buttons:hover {
   background-color: rgb(255, 177, 60);
}

.sound-control:hover {
   background-color: rgb(255, 177, 60);
}

.start-screen {
   position: absolute;
   top: 0;
}

.start-screen img {
   width: 900px;
   height: 480px;
   border-radius: 10px;
}
#fullscreen {
   position: relative;
}

#winScreen {
   position: absolute;
   border-radius: 10px;
   top: 38%;
   left: 30%;
   display: none;
}

#winScreen img {
   width: 65%;
}

#gameOver {
   background-image: url(./img/9_intro_outro_screens/game_over/game_over.png);
   background-position: center;
   background-size: cover;
   position: absolute;
   border-radius: 10px;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: none;
}

.restart-button {
   background-color: rgb(247, 194, 116);
   width: 198px;
   display: flex;
   justify-content: center;
   height: 62px;
   align-items: center;
   border-radius: 10px;
   font-size: 31px;
   font-weight: bold;
   border: solid 1px black;
   box-shadow: 12px 10px 5px black;
   cursor: pointer;
   animation: pulse 1s infinite;
   display: none;
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   bottom: 30px;
   left: 0;
   right: 0;
}

.rotate-message {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0);
   color: white;
   font-size: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.touch-elements {
   display: none;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.touch-elements img {
   border: solid 3px;
   border-radius: 29px;
   background-color: rgba(0, 0, 0, 0.3);
}

.left-touch-elements {
   margin-left: 12px;
   display: flex;
   gap: 34px;
   align-items: center;
}

.right-touch-elements {
   margin-right: 12px;
   display: flex;
   gap: 34px;
   align-items: center;
}

.touch-bottle {
   height: 52px;
   border: none !important;
   background-color: unset !important;
   border-radius: unset !important;
}

.jump-touch {
   height: 48px;
}

.bottom-touch-elements {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 10px;
}

.top-touch-elements {
   display: flex;
   justify-content: flex-end;
   width: 100%;
}

.touch-mute {
   height: 52px;
   margin: 10px;
}

.dialog-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px;
   background: white;
   border-radius: 10px;
   text-align: center;
   background-color: rgb(247, 194, 116);
}

dialog::backdrop {
   background: rgba(0, 0, 0, 0.5);
}

dialog {
   border: none;
   border-radius: 10px;
   padding: 0;
}

button {
   background-color: #333;
   color: white;
   border: none;
   padding: 10px 20px;
   margin-top: 20px;
   cursor: pointer;
   border-radius: 5px;
}

button:hover {
   background-color: #555;
}

ul {
   list-style-type: none;
   padding: 0;
}

ul li {
   margin: 10px 0;
}

ul img {
   width: 30px;
   vertical-align: middle;
   margin-left: 10px;
}

kbd {
   border-radius: 2px;
   padding: 2px;
   border: 1px solid black;
}

@media only screen and (max-width: 900px) {
   canvas {
      width: 100vw;
   }

   .start-screen img {
      width: 100vw;
   }

   .info-bar {
      display: none;
   }

   h1 {
      display: none;
   }

   .touch-elements {
      display: flex;
   }
}

@media only screen and (max-height: 480px) {
   canvas {
      height: 100vh;
   }
   .start-screen img {
      height: 100vh;
   }
}

@keyframes pulse {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      transform: scale(1);
   }
}
